@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Mono:wght@100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("./images/beach.jpg");
    background-position: top;
    background-size: cover;
}

.container{
    max-width: 75%;
    margin: auto;
    height: 80vh;
    margin-top: 5%; 
    background: #50727B;
    border-radius: 1%;
    background-color: rgba(255, 255, 255, 0.5);
}
.left, .right{
    width:40%;
    padding: 30px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.flex1{
    display:flex;
    
}
.main-image{
    width: auto;
    height: auto;
    
}
.option img{
    width: 90px;
    height: 90px;
    padding: 10px;
    border-radius: 20%;
}
.right{
    padding: 50px 100px 50px 50px;
}
h3{
    color: #344955;
    margin: 20px 0 20px 0;
    font-size: 25px;
}
h5 ,p ,small{
    color: #50727B;
}
h4{
    color: #50727B;
}
p{
    margin: 5px 0 18px 0;
    line-height: 25px;
}
li{
    color: #344955;
    list-style: none;
}
h5{
    font-size: 15px;
}

label,
.add span,
.color span{
    width: 25px;
    height: 25px;
    background: black;
    border-radius: 50%;
    margin: 20px 10px 20px 0;
}
.add label,
.add span{
    background: none;
    border:1px solid #344955;
    color: #344955;
    text-align: center;
    line-height: 25px;
}
.add label{
    padding: 10px 30px 0 20px;
    border-radius: 50px;
    line-height: 0;
}
button{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: #78A083;
    color:white;
    margin-top: 8%;
    border-radius: 30px;
    cursor: pointer;
}
.add span{
    cursor: pointer;
}


@media only screen and (max-width:850px){
    .container{
        max-width: 90%;
        margin: auto;

    }
    .left, .right {
        width: 100%;
    }
    .container{
        flex-direction: column;
    }
    button{
        background-color: #76ABAE;
    }
    .add label,
    .add span{
    background-color: #76ABAE;
    border-color: #76ABAE;
    }

}